body{
    margin:0;
    padding:0;
    background-color:rgb(8, 0, 117) ;
}
*{
    margin:0;
    padding: 0;
}
.container{
    display:grid;
    grid-template-rows: 100px auto ;
}
/* LINK DECORATION ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
a{
    text-decoration: none;
    color: white;
}
/* NAVBAR ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.menu{
    display:flex;
    align-items: center;
    background-color: rgb(8, 0, 117);
    width:100%;
    height: 70px;
    color:white; 
}
.logo{
    margin-left:100px;
    font-weight: bold;
    font-size:65px;
    white-space: nowrap;
    overflow: hidden;
}
.content{
    display:flex;
    align-items: center;
    list-style: none;
    margin-left:auto; 
    margin-right: 100px;
}
.hso{
    font-weight: bold;
    font-size:x-large;
    margin-left:30px
}
h1{
    font-weight: bold;
}

img{
    width: 500px;
    height: 500px;
    margin-left:30px ;
}
.cover{
    display:grid;
    background-color: rgb(8, 0, 117);  
    grid-template-columns: minmax(500px,750px) minmax(500px,900px);
    /* grid-template-rows:minmax(500px,680px) minmax(500px,680px) ; */
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
}
.covertext{
    color:white;
    background-color:rgb(8, 0, 117) ;
    max-width:900px;
    height:680px;
}
img{
    width:100%;
    max-width:750px;
    height:680px;
}
.name{
    font-size: x-large;
    font-weight: bold;
    text-align: center;
}
.desc{
    font-size: small;
    text-align: center;
}
.form{
    display:flex;
    height: 65px;
    align-content: center;
    justify-content: start;
    margin-left:50px;
    color:white;
    
}
.input{
    width: 300px;
    height: 50px;
}
/* FOOTER---------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.footer{
    display:flex;
    align-items: center;
    flex-direction: column;
}
.facebook{
    width:50px;
    height: 50px;
}